<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cocktail recipes!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  </head>
  <body>
  <div class="main">
    <h1>What do you want to drink?</h1>
    <p id="mainP"><%= mainP %></p>
      <form class="wrapper" action="/" method="post">
        <input class="input" type="text" placeholder="Search by ingredient or cocktail name!" name="searchBox">
        <button class="searchB" type="submit"><i class="fas fa-search"></i></button>
      </form>
  </div>
  </body>
</html>